@use "../util/mixins" as u;
/* ---------- Header ---------- */
.header {
  width: 100%;
  padding: 0.4rem 0;

  @include u.flex-center;

  background-color: var(--color-bg);
  color: #fff;

  &-logo {
    margin: 0 1rem;
    font-size: 2.5rem;

    &-name {
      font-size: 2.5rem;
    }
  }
}
